
*{
    margin: 0;
    padding: 50;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:large;
    zoom: 100%;
    /* background-color: rgb(206, 246, 246); */
}

body{
    background: var(--background-color);
    font-size:large;
}
.section--header-title{
    margin-top: 30px;
    font-size: 48px;
    margin-bottom: 40px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 3%;
    background-color: rgb(221, 219, 219);
}

.Brand--logo img{
    height: 100px;
    width:100px ;
    border-radius: 290px;
}

.Nav-Links h2{
    padding: 5px 10px;
    font-size: 40px;
    color:black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Nav-Links h3{
    padding: 5px 10px;
    font-size: 20px;
    color:black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

    @keyframes typing {
        from { width: 0; }
        to { width: 100%; }
    }

    .typing-text {
        display: inline-block;
        overflow: hidden;
        border-right: .15em solid rgb(24, 151, 200); /* Change color as needed */
        white-space: nowrap;
        margin: 0 auto;
        animation: typing 10s steps(50, end) infinite;
    }



/* CSS for Navigation Bar Ends */


/* CSS for Main Section Starts */

.MainSection{
    padding: 5% 5%;
}

.home--section1{
    width: 100%;
}

.home--wrap{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main--section-text span{
    font-size: 50px;
}

.main--section-text h2{
    font-size: 50px;
}

.main--section-text h1{
    font-size: 50px;
    color: var(--highlight-color);
}

.main--section-text p{
    margin-top: 10px;
    font-size: 20px;
}

.main--section-button button{
    margin-top: 40px;
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 10px;
    outline: none;
    border: var(--action-button-boder);
    cursor: pointer;
    scale: 1;
    transition: 0.5s;
}

.main--section-button button:hover{
    scale: 1.2;
    background: var(--action-button-color);
}

.main--section-image img{
    height: 300px;
    border-radius: 650px;
    scale: 1;
    transition: 0.3s;
    cursor: pointer;
}

.main--section-image img:hover{
    scale: 1.1;
    box-shadow: 10px 10px 50px 5px;
}

/* CSS for Main Section Ends */

/* CSS for Projects Section Starts */

.Projects{
    padding: 1% 5%;
}

.projects--section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects--section-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    cursor: pointer;
}

.project--card{
    background: var(--Projects-card-backgroundcolor);
    padding: 30px 30px;
    width: 350px;
    border-radius: 100px;
    margin-bottom: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    scale: 1;
    transition: 0.5s;
}

.project--card:hover{
    scale: 1.1;
    border-radius: 20px;
}

.project--card-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project--card-text h4{
    margin-top: 20px;
    font-size: 25px;
    margin-bottom: 10px;
}

.project--card img{
    height: 200px;
    border-radius: 50px;
}

.project--card-button button{
    background: var(--white);
    padding: 10px 20px;
    margin-top: 20px;
    outline: none;
    border: var(--action-button-boder);
    cursor: pointer;
    border-radius: 30px;
    scale: 1;
    transition: 0.3s;
}

.project--card-button button:hover{
    scale: 1.2;
    border-radius: 10px;
}

.project--card-button a{
    text-decoration: none;
    color: #000000;
}

.projects--section-buttons{
    display: flex;
    align-items: center;
}

.projects--section-buttons button{
    padding: 10px 50px;
    margin-top: 20px;
    border-radius: 10px;
    outline: none;
    border: var(--action-button-boder);
    margin-inline: 15px;
    background-color: var(--action-button-color);
    cursor: pointer;
    scale: 1;
    transition: 0.6s;
}

.projects--section-buttons button:hover{
    scale: 1.2;
    border-radius: 20px;
}

.projects--section-buttons a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 400px;
    color: var(--black);
}

/* CSS for Projects Section Ends */

/* CSS for DevelopmentStyle Section Starts */

.DevelopmentStyle{
    padding: 4% 5%;
}

.style--section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.style--section-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 70px;
}

.style--section-text-wrappper{
    cursor: pointer;
    scale: 1;
    transition: 0.5s;
}

.style--section-text-wrappper:hover{
    scale: 1.05;
}

.style--section-wrapper span{
    color: var(--highlight-color);
    font-size: 40px;
    font-weight: 600;
}

.style--section-wrapper p{
    color: var(--black);
    font-size: 15px;
    margin-bottom: 40px;
}

.style--section-image img{
    height: 450px;
    border-radius: 50px;
    scale: 1;
    transition: 0.4s;
    cursor: pointer;
}

.style--section-image img:hover{
    scale: 1.1;
    box-shadow: 10px 10px 50px 1px;
}

/* CSS for DevelopmentStyle Section Ends */

/* CSS for Technologies Section Starts */

.Technologies{
    padding: 1% 5%;
}

.technologies--section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.technologies--section-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.technologies--section-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px; 
    color: var(--white);
    background: var(--action-button-color);
    padding: 30px 30px;
    width: 300px;
    border-radius: 100px;
    cursor: pointer;
    scale: 1;
    transition: 0.5s;
}

.technologies--section-card:hover{
    scale: 1.1;
    box-shadow: 10px 10px 50px 5px;
}

.technologies--section-card h4{
    font-size: 40px;
    margin-top: 10px;
}

.technologies--section-card p{
    font-size: 20px;
    text-align: center;
}

.technologies--section-card img{
    height: 150px;
    border-radius: 50px;
}

/* CSS for Technologies Section Ends */

/* CSS for Certification Section Starts */

.Certification{
    padding: 3% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.certification--wrapper{
    width: 210px;
    gap: 70px;
    align-items: center;
    
}

.certification--text-section {
    width: 400px;
    padding-bottom: 20px;
    scale: 1;
    transition: 0.5s; 
    cursor: pointer;
}

.certification--text-section:hover{
    scale: 1.05;
}

.certification--text-section-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.certification--text-section h3{
    color: var(--highlight-color);
    font-size: 40px;
    font-weight: 600;
}

.certification--text-section h5{
    color: var(--black);
    font-size: 23px;
    font-weight: 400;
}

.certification--text-section h6{
    font-size: 20px;
    font-weight: 300;
}

.certification--text-section p{
    color: var(--text-color-paragraph);
    font-size: 18px;
}


.certification--image-section img{
    height: 130px;
    border-radius: 20px;
    scale: 1;
    transition: 0.4s;
    cursor: pointer;
}

.certification--image-section img:hover{
    scale: 1.1;
    box-shadow: 10px 10px 50px 1px;
}

/* CSS for Certification Section Ends */

/* CSS for Certification contactform Starts */

.contactform{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1% 5%;
    width: 100%;
}

.contactinput{
    display: flex;
    flex-direction: column;
}

.contactinput input{
    padding: 10px 20px;
    width: 600px;
    margin-block: 10px;
    outline: none;
    border: var(--action-button-boder);
    border-radius: 20px;
    font-size: 20px;
    background: transparent;
}

.contactsubmit button{
    margin-top: 40px;
    padding: 10px 90px;
    margin-bottom: 60px;
    border-radius: 20px;
    outline: none;
    border: var(--action-button-boder);
    width: 100%;
    scale: 1;
    transition: 0.5s;
    font-size: 23px;
    cursor: pointer;
    background-color: bisque;
}

.contactsubmit button:hover{
    scale: 1.1;
    background-color: var(--highlight-color);
}

.contact--wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 60px;
}

/* CSS for ContactForm Section Ends */

/* CSS for Footer Section Starts */

.footer{
    display: flex;
    justify-content: space-evenly;
    background: var(--footer-background);
    padding: 1% 1%;
}

/* .footerlogo span{
    font-size: 48px;
    font-weight: 800;
} */

/* .footerlogo p{
    margin: 10px;
} */

/* .footerpages{
    
    flex-direction: column;
    gap: 10px;
} */

/* .footerpages a{
    color: var(--black);
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    scale: 1;
    transition: 0.5s;
} */


/* .footersocials a{
    color: var(--black);
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}
 */


.footersocials{
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    gap: 40px;
}

/* CSS for Footer Section Ends */






